*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

// html {
//   font-size: 62.5%;
// }

body {
  min-height: 100vh;
}

// Game styles
.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 20px;
  height: 20px;
}

.snake {
  border-radius: 50%;
  background-color: blue;
}

.apple {
  background-color: red;
}