*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

// Game styles
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  & > *:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}

.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: red;
}

.start {
  font-size: 0.8rem;
  padding: .6rem 1rem;
}